<head>
    <style>
        body {
            line-height: 25px;
            font-family: sans;
        }
        
        pre {
            line-height: 0px;
            color: blue;
        }
        todo {
            color: red;
            font-style: italic;
        }
    </style>
</head>
<h1>Il sistema di riconoscimento biglietti di BagheeraWeb</h1>

<ol>
    <li>
        <h3>Il sistema BagheeraWeb genera la lista delle chiavi_guest per tutti gli invitati</h3>
    </li>
    <ol type="a">
    <li>La chiave_guest &egrave; la codifica delle informazioni del biglietto tramite la chiave $config['encryption_key'];</li>
    
    <li>Le informazioni del biglietto sono</li>
        <ol type="i">
        <li> <i>id</i> invitato, [ MUST ] </li>
        <li><i>nome_host</i> <i>cognome_host</i> di chi lo invita, [ SHOULD ]</li>
        <li> <i>nome_guest</i> e <i></i>cognome_guest</i> dell'invitato; [ COULD ]</li>
        </ol>
    
    <li>La stringa da codificare &egrave;
        <pre>
        "&lt;id&gt; - &lt;nome_host&gt; &lt;cognome_host&gt; [- &lt;nome_guest&gt; &lt;cognome_guest&gt; ]"
        </pre>
        cio&egrave; nome e cognome dell'invitato vengono codificati solo se disponibili;</li>
        
    <li>La chiave_guest &egrave; identificativa di un record del db e viene costruita al
        momento della creazione del record, cio&egrave; all'inserimento dell'invitato;</li>
    
    <li>Il valore della chiave_guest di un record non pu&ograve;
        essere cambiato dopo la sua generazione;</li>
    </ol>
    
<li><h3>Vengono generati i codici grafici per ogni chiave nel database</h3></li>
    <ol type="a">
        <li>Il codice generato &egrave; del tipo QR code (<todo>version?</todo>)</li>
        <li>Si utilizza la libreria QR Code per Codeigniter</li>
        <li>Implementato dal controller Ticket</li>
    </ol>
    
<li><h3>Il cellulare Android legge il codice</h3></li>
    <ol>
        <li>Utilizza l'applicazione "Barcode Scannaer"</li>
        <li>Imposta la ricerca personalizzata:
            <pre>http://&lt;indirizzo-server&gt;/BagheeraWeb/guest/entra/%s</pre>
        </li>
        <li>La stringa viene decodificata</li>
        <li>Viene aggiornato il db</li>
    </ol>
</ol>

<br><br><br>