
	::selection{ background-color: #E13300; color: white; }
	::moz-selection{ background-color: #E13300; color: white; }
	::webkit-selection{ background-color: #E13300; color: white; }

  @font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: normal;
  src: local('Lobster'), url('fonts/MWVf-Rwh4GLQVBEwbyI61Q.woff') format('woff');
  }

	body {
		background: url() #445566;
		margin: 0px;
		font: 19px/20px normal Helvetica, Arial, sans-serif;
		color: #ffffff;
		text-align: center;
	}

	a {
		color: #ABC;
		background-color: transparent;
		font-weight: normal;
		font-style: none;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	h1 {
		color: #ABC;
		background-color: transparent;
		border-bottom: 1px solid #D0D0D0;
		font-size: 19px;
		font-weight: normal;
		margin: 0 0 14px 0;
		text-align: left;
		padding: 14px 15px 10px 15px;
	}
	
	h2 {
		color: #ABC;
		background-color: transparent;
		font-size: 19px;
		font-weight: normal;
		margin: 0 0 14px 0;
		padding: 14px 15px 10px 15px;
	}

	header {
		padding: 10px;
		padding-top: 50px;
		text-align: center;
		border-bottom: 2px solid #999;
		background-color: #123;
		box-shadow: 0px 10px 35px #222;
		margin-bottom: 20px;
	}

	div#site_name{
		padding-left: 20px;
		background-image: url('../img/bghIcon-white.png');
		background-repeat: no-repeat;
		width: 500px;
		margin-left: auto;
		margin-right: auto;
		
	}
	
	a#site_name {
		font-family: Lobster;
		font-size: 70px;
		color: rgb(80, 200, 80);
		text-shadow: 2px 2px 2px #333;
		text-decoration: none;
	}
	
	#logo {
		height: 60px;
		float: left;
	}
	
	nav {
		font-size: 25pt;
		font-family: Lobster;
		margin: 30px;
	}

	nav>a {
		color: #FFF;
	}
	code {
		font-family: Consolas, Monaco, Courier New, Courier, monospace;
		font-size: 12px;
		background-color: #f9f9f9;
		border: 1px solid #D0D0D0;
		color: #002166;
		display: block;
		margin: 14px 0 14px 0;
		padding: 12px 10px 12px 10px;
	}

	#body{
		margin: 0 15px 0 15px;
	}
	
	p.footer{
		text-align: right;
		font-size: 11px;
		border-top: 1px solid #D0D0D0;
		line-height: 32px;
		padding: 0 10px 0 10px;
		margin: 20px 0 0 0;
	}
	
	/*
	|-----------------------------------------------
	|	STATS
	|-----------------------------------------------
	*/
	
	table.stats {
		font-size: 30px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	
	td {
		border: 1px solid grey;
		padding: 10px;
	}
	
	td.results {
	  height : 70px;
	}
	
	div#up_time {
	  margin: 5px;
	  text-align: center;
	}
	
	span#up_time {
	  font-weight: bold;
	}
	

	/* -------------------------------------------------------------
		PRENOTAZIONI
	*------------------------------------------------------------ */

	#scout_host {
		color: green;
	}

	.labels{
		padding: 0px;
	}

	/* -------------------------------------------------------------
		TOOLTIP
	---------------------------------------------------------------*/

	#tooltip {
		border: 1px solid black;
		position: absolute;
		width: 200px;
		background-color: #888;
	}

	#tooltip_content {
		margin:10px;
		float: left;
		text-align: center;
	}

	#tooltip_close {
		margin: -5px 3px 0px 0px;
		float: right;
		text-align: right;
	}

	/*-------------------------------------------------------------------
		GUESTS INDEX
	--------------------------------------------------------------------*/
	table {
		margin-left: auto;
		margin-right: auto;
	}

	td {
		width : 200px;
	}