
.guest {
	padding : 15px;
	height: 30px;
}

.guest>div{
	margin: 15px;
	float:left;
}

.nome {
	font-size : 20pt;
	width: 100%;
	text-align: center;
}

.controls {
	width: 100%;
	text-align: center;
}