@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: normal;
  src: local('Lobster'), url('fonts/MWVf-Rwh4GLQVBEwbyI61Q.woff') format('woff');
  }


.biglietto {
	width: 250px;
	height: 100px;
	border: 1px solid black;
	float: left;
	margin: 10px;
	padding: 10px;

}

.qrcode {
	height: 100px;
	float: right;
	position: relative;
}

.nome {
	font-size: 19pt;
}

.titolo {
	font-family: Lobster ;
}

.ids {
	font-family: monospace;
}